---
http_interactions:
- request:
    method: get
    uri: https://geocode.search.hereapi.com/v1/geocode?apiKey=FAKE_HERE_API_KEY&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-correlation-id:
      - 4f8884ef-54f9-454d-9055-e2625987f881
    body:
      encoding: ASCII-8BIT
      string: '{"status":400,"title":"Illegal input for parameter ''q''","cause":"Actual
        parameter value: ''''","action":"Value must be non-empty","correlationId":"4f8884ef-54f9-454d-9055-e2625987f881","requestId":"REQ-29edac24-567b-4366-910a-df796a9fc981"}'
  recorded_at: Sun, 08 Sep 2024 02:15:00 GMT
recorded_with: VCR 6.3.1
