---
http_interactions:
- request:
    method: get
    uri: https://geocode.search.hereapi.com/v1/geocode?apiKey=FAKE_HERE_API_KEY&q=Springfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      usage:
      - _:1
      x-correlation-id:
      - 48dd16a4-c6a6-46b0-b425-f2ab6e4c939a
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"title":"Springfield, IL, United States","id":"here:cm:namedplace:21004800","resultType":"locality","localityType":"city","address":{"label":"Springfield,
        IL, United States","countryCode":"USA","countryName":"United States","stateCode":"IL","state":"Illinois","county":"Sangamon","city":"Springfield","postalCode":"62701"},"position":{"lat":39.8013,"lng":-89.6436},"mapView":{"west":-89.77319,"south":39.65361,"east":-89.56855,"north":39.87426},"scoring":{"queryScore":1.0,"fieldScore":{"city":1.0}}},{"title":"Springfield,
        MO, United States","id":"here:cm:namedplace:21021389","resultType":"locality","localityType":"city","address":{"label":"Springfield,
        MO, United States","countryCode":"USA","countryName":"United States","stateCode":"MO","state":"Missouri","county":"Greene","city":"Springfield","postalCode":"65806"},"position":{"lat":37.20897,"lng":-93.29159},"mapView":{"west":-93.41318,"south":37.09244,"east":-93.17855,"north":37.27705},"scoring":{"queryScore"[...]
