---
http_interactions:
- request:
    method: get
    uri: https://geocode.search.hereapi.com/v1/geocode?apiKey=hZDMqXpG3v6LsXwGE26HX6fLNJpYVzzPZH8BAZ-0rUE&q=2410+Mann+Ave%2C+Des+Moines%2C+IA+50310
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      usage:
      - _:1
      x-correlation-id:
      - f8f89ecf-b3e8-4139-a9a9-add83df5ab70
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"title":"2410 Mann Ave, Des Moines, IA 50310-5565, United
        States","id":"here:af:streetsection:ohJu0cT29gMKZtUuA.Rj-A:EAIaBDI0MTA","resultType":"houseNumber","houseNumberType":"interpolated","address":{"label":"2410
        Mann Ave, Des Moines, IA 50310-5565, United States","countryCode":"USA","countryName":"United
        States","stateCode":"IA","state":"Iowa","county":"Polk","city":"Des Moines","district":"Martin-Hickman","street":"Mann
        Ave","postalCode":"50310-5565","houseNumber":"2410"},"position":{"lat":41.61745,"lng":-93.65158},"access":[{"lat":41.61758,"lng":-93.6516}],"mapView":{"west":-93.65278,"south":41.61655,"east":-93.65038,"north":41.61835},"scoring":{"queryScore":1.0,"fieldScore":{"state":1.0,"city":1.0,"streets":[1.0],"houseNumber":1.0,"postalCode":1.0}}}]}'
  recorded_at: Sat, 07 Sep 2024 23:39:10 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=8cf34dc4328625bf46d7421c45473a27&lat=41.61745&lon=-93.65158&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.6516,"lat":41.6175},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":70.12,"feels_like":69.04,"temp_min":68.32,"temp_max":71.85,"pressure":1021,"humidity":47,"sea_level":1021,"grnd_level":989},"visibility":10000,"wind":{"speed":5.75,"deg":160},"clouds":{"all":40},"dt":1725752350,"sys":{"type":2,"id":2005004,"country":"US","sunrise":1725709644,"sunset":1725755871},"timezone":-18000,"id":4853828,"name":"Des
        Moines","cod":200}'
  recorded_at: Sat, 07 Sep 2024 23:39:10 GMT
recorded_with: VCR 6.3.1
