---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=8cf34dc4328625bf46d7421c45473a27&lat=-8.55409&lon=125.57033&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":125.5703,"lat":-8.5541},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":80.26,"feels_like":81.55,"temp_min":80.26,"temp_max":80.26,"pressure":1015,"humidity":55,"sea_level":1015,"grnd_level":971},"visibility":10000,"wind":{"speed":3.09,"deg":136,"gust":6.53},"clouds":{"all":11},"dt":1725664340,"sys":{"country":"TL","sunrise":1725658573,"sunset":1725701741},"timezone":32400,"id":1645457,"name":"Dili","cod":200}'
  recorded_at: Fri, 06 Sep 2024 23:12:20 GMT
recorded_with: VCR 6.3.1
