---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=8cf34dc4328625bf46d7421c45473a27&lat=41.61745&lon=-93.65158&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.6516,"lat":41.6175},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":70.14,"feels_like":69.39,"temp_min":69.22,"temp_max":71.85,"pressure":1024,"humidity":54,"sea_level":1024,"grnd_level":992},"visibility":10000,"wind":{"speed":14.97,"deg":330,"gust":24.16},"clouds":{"all":75},"dt":1725646759,"sys":{"type":2,"id":2005004,"country":"US","sunrise":1725623184,"sunset":1725669574},"timezone":-18000,"id":4853828,"name":"Des
        Moines","cod":200}'
  recorded_at: Fri, 06 Sep 2024 18:19:19 GMT
recorded_with: VCR 6.3.1
