---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=FAKE_OPENWEATHERMAP_API_KEY&lat=41.61745&lon=-93.65158&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.6516,"lat":41.6175},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":59.25,"feels_like":58.17,"temp_min":57.38,"temp_max":61.21,"pressure":1022,"humidity":70,"sea_level":1022,"grnd_level":989},"visibility":10000,"wind":{"speed":0,"deg":0},"clouds":{"all":0},"dt":1725761700,"sys":{"type":2,"id":2005004,"country":"US","sunrise":1725709644,"sunset":1725755871},"timezone":-18000,"id":4853828,"name":"Des
        Moines","cod":200}'
  recorded_at: Sun, 08 Sep 2024 02:15:00 GMT
recorded_with: VCR 6.3.1
