---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=FAKE_OPENWEATHERMAP_API_KEY&lat=-8.55409&lon=125.57033&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":125.5703,"lat":-8.5541},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":84.45,"feels_like":90.45,"temp_min":84.45,"temp_max":84.45,"pressure":1014,"humidity":67,"sea_level":1014,"grnd_level":971},"visibility":10000,"wind":{"speed":7.49,"deg":43,"gust":8.72},"clouds":{"all":58},"dt":1725761700,"sys":{"country":"TL","sunrise":1725744939,"sunset":1725788134},"timezone":32400,"id":1645457,"name":"Dili","cod":200}'
  recorded_at: Sun, 08 Sep 2024 02:15:00 GMT
recorded_with: VCR 6.3.1
